<!-- Tab content -->
<div class="page-container tab-content">
  <!-- Tab #ui -->
  <div class="tab-pane active">
    <%= form_for([@project, @issue]) do |f| %>
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input">Title</label>
            <div class="controls">
              <%= f.text_field :name, class: 'input-xlarge', placeholder: 'Enter a title' %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="select">Select priority</label>
            <div class="controls">
              <%= select_tag :priority, options_for_select({Low: 0, Medium: 1, High: 2}, @issue.priority) %>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= f.text_area :content, class: 'wysihtml5', placeholder: 'Enter text ...', rows: '8' %>
            </div>
          </div>

          <div class="form-actions">
            <%= content_tag :button, 'Save', type: :submit, class: 'btn btn-wuxia btn-large btn-primary' %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>