<!-- Tab content -->
<div class="page-container tab-content">
  <!-- Tab #ui -->
  <div class="tab-pane active">
    <%= form_for(@form_object) do |f| %>
        <%= render partial: 'shared/errors', locals: {object: @issue} %>
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input">Title</label>
            <div class="controls">
              <%= f.text_field :name, class: 'input-xlarge', placeholder: 'Enter a title' %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="select">Select priority</label>
            <div class="controls">
              <%= f.select :priority, options_for_select({Low: 0, Medium: 1, High: 2}, @issue.priority) %>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= f.text_area :content, class: 'wysihtml5', placeholder: 'Enter text ...', rows: '8' %>
            </div>
          </div>

          <div class="form-actions">
            <%= content_tag :button, 'Save', type: :submit, class: 'btn btn-wuxia btn-primary' %>

            <% if is_edit && can?(:destroy, @issue) %>
                or</span>
                <%= link_to 'Delete issue', @issue, :method => :delete, title: 'Delete issue', class: 'btn btn-wuxia  btn-danger', confirm: 'Are you sure you want to delete this issue?' %>
            <% end %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>