<% provide :title, 'User list - Qtrack' %>

<% content_for :js do %>
    <%= javascript_include_tag 'js/tables_shared' %>
    <%= javascript_include_tag 'js/tables_users' %>
<% end %>

<!-- Main content -->
<div class="container" role="main">

  <!-- Breadcrumbs -->
  <ul class="breadcrumb">
    <li>
      <%= link_to root_path do %>
          <span class="awe-home"></span> Home
      <% end %>
    </li>
    <li class="active"><span class="awe-group"></span> User list</li>
  </ul>
  <!-- /Breadcrumbs -->
  <%= render_flashes %>

  <!-- Main data container -->
  <div class="content">

    <div class="page-header">
      <h2>All users (<%= @users.size %>)</h2>
      <% if current_user.is_admin? %>
          <ul class="page-header-actions">
            <li><%= link_to 'New User', new_user_path, title: 'New User', class: 'btn btn-wuxia btn-primary' %></li>
          </ul>
      <% end %>

    </div>
    <!-- Tab content -->
    <div class="page-container tab-content">

      <!-- Tab #ui -->
      <div class="tab-pane active" id="ui">
        <!-- Grid row -->
        <div class="row">

          <!-- /Page grid cell (12 blocks - full) -->

          <!-- Page grid cell (12 blocks - full) -->
          <article class="span12">
            <table class="datatable table table-striped table-bordered table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Issues created</th>
                <th>Comments written</th>
                <th>Role</th>
                <% if current_user.is_admin? %>
                    <th id="options">Actions</th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                  <tr id="user-@user.getId" class="odd gradeX">
                    <td><strong><%= user.name %></strong></td>
                    <td><%= user.email %></td>
                    <td><%= user.issues.size %></td>
                    <td><%= user.comments.size %></td>
                    <td><%= user.role.name %></td>
                    <td width="100px" style="text-align: center;">
                        <% if current_user.is_admin? && current_user != user %>
                              <%= link_to 'Edit User', edit_user_path(user), title: 'Edit User', class: 'btn-mini btn-wuxia btn-primary' %>
                        <% elsif current_user.is_admin? && current_user == user %>
                            No action
                        <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </article>
          <!-- Page grid cell (12 blocks - full) -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- /Tab #ui -->

    </div>
    <!-- /Tab content -->

  </div>
  <!-- /Main data container -->

</div>
<!-- /Main content -->