<%= form_for(@project) do |f| %>
    <%= render partial: 'shared/errors', locals: {object: @project} %>
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="input">Name</label>
        <div class="controls">
          <%= f.text_field :name, class: 'input-xlarge', placeholder: 'Enter a title' %>
        </div>
      </div>
      <div class="form-actions">
        <%= content_tag :button, 'Save', type: :submit, class: 'btn btn-wuxia btn-primary' %>

        <% if is_edit %>
            or</span>
            <%= link_to 'Delete project', @project, :method => :delete, title: 'Delete project', class: 'btn btn-wuxia  btn-danger' %>
        <% end %>
      </div>
    </fieldset>
<% end %>