<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset>
      <div class="control-group">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><span class="awe-user"></span></span>
            <%= f.email_field :email, id: 'icon', placeholder: 'Your Email' %>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><span class="awe-lock"></span></span>
            <%= f.password_field :password, id: 'addons', placeholder: 'Password' %>
          </div>
          <% if devise_mapping.rememberable? -%>
              <label class="checkbox">
                    <%= f.check_box :remember_me, :html => {id: 'rememberMe'} %> Remember me
              </label>
          <% end -%>
        </div>
      </div>
      <div class="form-actions">
        <%= content_tag :button, 'Log in', :type => :submit, :class => 'btn btn-wuxia btn-large btn-primary' %>
      </div>
    </fieldset>
<% end %>
