<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="awe-user"></span></button>
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="awe-chevron-down"></span></button>

      <a class="brand" href="/">Qtrack - Minimal issue tracker for the web.</a>

      <div class="nav-collapse">

          <!-- Main navigation -->
          <nav class="navigation">
              <ul class="nav active-arrows" role="navigation">
                <%= content_tag :li, class: project_active? do %>
                    <%= link_to projects_path, title: 'Projects' do %>
                        <span class="awe-tags"></span>
                        Projects
                    <% end %>
                <% end %>
                <%= content_tag :li, class: user_list_active? do %>
                    <%= link_to projects_path, title: 'User list' do %>
                        <span class="awe-group"></span>
                        User list
                    <% end %>
                <% end %>
              </ul>
          </nav>

        <!-- User navigation -->
        <nav class="user">
          <div class="user-info pull-right">
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <div>
                  <strong><%= current_user.name %></strong>
                  <%= current_user.is_admin? ? 'Admin' : 'User' %>
                </div>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><span class="awe-cogs"></span> Account settings</a></li>
                <li class="divider"></li>
                <li>
                  <%= link_to destroy_user_session_path, :method => 'delete' do %>
                      <span class='awe-signout'></span>Logout
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- /Main navigation bar -->